<div style="max-height: 100%;overflow: hidden;position: relative;">
    <input type="text" placeholder="Search Materials...">
    <ol>
        {{#each materials}}
            <li data-output="{{output}}" data-displayname="{{displayName}}" style="background-image: url({{preview}});">
                <i class="material-name">{{displayName}}</i>
                <div class="material-confirm">
                    <i class="fas fa-check"></i>
                </div>
            </li>
        {{/each}}
    </ol>
</div>