<form action="submit">
<p style="color: red">This tool is still in development, Some features might be missing or not working!</p>
 <fieldset>
    <legend>Build</legend>
    <button class="toggle active" data-action="union"><i class="fa-duotone fa-object-union"></i> Add</button>
    <button class="toggle" data-action="subtract"><i class="fa-solid fa-object-subtract"></i> Subtract</button>
</fieldset>

 <fieldset>
    <legend>Theme</legend>
    <button data-action="generate"><i class="fa-duotone fa-dice"></i> Generate</button>
    <button data-action="variation"><i class="fa-duotone fa-arrows-rotate"></i> Variation</button>
    <button data-action="fine-tune"><i class="fa-duotone fa-pencil-ruler"></i> Fine Tune</button>
</fieldset>


</form>