.three-canvas-compendium-app ol{
    list-style-type: none;
    margin: 0;
    padding: 8px;
    margin-top: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    align-items: end;
    grid-gap: 1em;
    max-height: calc(100% - 2rem);
}

.three-canvas-compendium-app ol li img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    pointer-events: none;
}

.three-canvas-compendium-app ol li{
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000052;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
    margin: auto;
    cursor: pointer;
}

.three-canvas-compendium-app ol li:hover, #quick-environment .environment:hover{
    box-shadow: 0 0 8px var(--color-shadow-highlight);
}

.three-canvas-compendium-app ol li.selected{
    border: 2px solid var(--color-border-highlight);
    box-shadow: 0 0 8px var(--color-shadow-highlight);
}

.three-canvas-compendium-app ol li i.material-name{
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #000000b8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.5rem;
    padding: 0 0.3em;
}

.three-canvas-compendium-app input{
    color: var(--color-text-light-heading);
}

.three-canvas-compendium-app #searchbox-wrapper{
    position: fixed;
    z-index: 100;
    background-color: #0c0c0cc7;
    backdrop-filter: blur(1px);
    width: 100%;
    padding: 8px;
}

.three-canvas-compendium-app .window-content{
    color: var(--color-text-light-heading);
    background: url(/../ui/denim075.png) repeat;
}

.three-canvas-compendium-app .material-confirm{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-border-highlight);
    text-shadow: 0 0 5px var(--color-border-highlight), 0 0 5px var(--color-border-dark-2);
    font-size: 50px;
}

.three-canvas-compendium-app .grid-wrapper{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    gap: 0.2rem;
}

.three-canvas-compendium-app .quick-placement{
    gap: 0.2rem;
    padding-top: 0.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}

.three-canvas-compendium-app .quick-placement a{
    border: 1px solid;
    border-radius: 3px;
    width: 1.5rem;
    text-align: center;
}

.three-canvas-compendium-app .quick-placement a.active{
    background-color: #ffffff30;
}

.three-canvas-compendium-app .asset-browser-icon-group input{
    width: 2rem;
    height: 1.2rem;
    border: none;
    text-align: center;
}

.three-canvas-compendium-app .quick-placement input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
.three-canvas-compendium-app .quick-placement input[type="color"]::-webkit-color-swatch {
	border: none;
}

.three-canvas-compendium-app #selected-notification:hover{
    cursor: default;
    text-shadow: none;
}

 
.three-canvas-compendium-app .asset-browser-icon-group{
        position: relative;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-right: 0.5rem;
        border: 1px solid;
    border-radius: 3px;
    padding: 0 0.2rem;
}

.three-canvas-compendium-app .quick-placement fieldset{
    display: flex;
    justify-content: space-evenly;
    gap: 0.2rem;
    border-radius: 5px;
    border-width: 1px;
    border-style: inset;
}

.three-canvas-compendium-app-slim fieldset button:last-child{
    border-bottom: 1px solid;
}

.three-canvas-compendium-app #search{
    padding: 0.3rem;
}


.three-canvas-compendium-app .tab-container, .three-canvas-compendium-app-slim fieldset, #quick-environment fieldset, #room-builder fieldset{
    border: 1px inset;
    border-radius: 5px;
    padding: 0.3rem;
    border-color: #ffffff42;
}

.three-canvas-compendium-app-slim ul{
    margin: 0;
    padding: 0;
    gap: 0.2rem;
    list-style: none;
}

.three-canvas-compendium-app-slim input{
    border: none;
    background: none;
    box-shadow: none;
    color: var(--color-text-light-heading);
}

.three-canvas-compendium-app-slim input:focus{
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
}


.three-canvas-compendium-app .tab-buttons{
        border-bottom: 1px solid;
    border-color: #ffffff42;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.2rem;
    position: relative;
}

.three-canvas-compendium-app .tab-button.active{
    font-weight: bold;
}

.three-canvas-compendium-app .tab.hidden{
    display: none !important;
}

.three-canvas-compendium-app summary{
    cursor: pointer;
    text-align: center;
}

.three-canvas-compendium-app-slim .window-content, #quick-environment .window-content, #room-builder .window-content{
    background: url(/../ui/denim075.png) repeat !important;
    color: var(--color-text-light-primary) !important;
}

.three-canvas-compendium-app-slim button, #room-builder button{
    color: var(--color-text-light-primary);
    border: none;
    border-top: 1px solid;
    border-radius: 0;
}

#room-builder button.active{
    background-color: rgb(255 255 255 / 22%);
}

.three-canvas-compendium-app-slim select,#quick-environment select, #asset-browser select, #room-builder select{
    color: var(--color-text-light-primary);
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
}

.three-canvas-compendium-app-slim option,#quick-environment option, #asset-browser option, #effect-browser option, #room-builder option{
    background: var(--color-text-dark-secondary);
}

.three-canvas-compendium-app-slim optgroup,#quick-environment optgroup, #asset-browser optgroup, #effect-browser optgroup{
    background: var(--color-text-dark-header);
}

.three-canvas-compendium-app .new{
    position: absolute;
    bottom: 0;
    right: 0;
    background: red;
    border-radius: 5px;
    margin: 0.2rem;
    padding: 0.05rem 0.2rem;
    font-size: xx-small;
}

#quick-environment .environment{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 8px #00000052;
    transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

#quick-environment #env-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
    max-height: 300px;
    overflow-y: scroll;
    justify-items: center;
}

#cutscene-panel button{
    border: none !important;
}

#cutscene-panel button i{
    margin: 0;
}

fieldset.clip{
    margin-top: 0.5rem;
}

#terrain-painter .terrain-painter-grid{
    display: grid;
    grid-template-rows: 2rem 2rem 2rem 1fr;
}

#terrain-painter .terrain-painter-controls{
    display: grid;
    grid-template-columns: 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    align-items: center;
    gap: 0.3rem;
    height: 100%;
}

#terrain-painter .input-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.3rem;
    align-items: center;
    height: 100%;
    position: relative;
}

#terrain-painter .input-info input{
    text-align: center;
    padding: 0.2rem;
    border: 1px solid;
    border-radius: 5px;
    background-color: #00000032;
}

#terrain-painter  .terrain-painter-canvas-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#terrain-painter #terrain-painter-canvas{
    position:relative;
}

#terrain-painter .input-info #cycle-color{
    position: absolute;
    right: 0;
    width: 2rem;
    background: transparent;
    border: none;
}

#terrain-painter .input-info #cycle-color:focus, #terrain-painter .input-info #cycle-color:hover{
    outline: none;
    box-shadow: none;
}

.heigtmap-container .matrix-visualizer{
    position: absolute; border: 2px solid red; cursor: move;
}

.heigtmap-container .matrix-visualizer .matrix-visualizer-handle{
    position: absolute;
    bottom: -6px;
    right: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    cursor: nwse-resize;
    border: 2px solid #642525;
}